@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color-dark: #1d69a3;
}

#home {
  background-color: #87509c;
}

.nav-link {
  color: white;
}

.navbar-collapse {
  margin-bottom: 50px;
}

.nav-item {
  margin-right: 15px;
}
/* header area */
.header-text {
  margin: 50px auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 180%;
  color: #fff;
}

.header-btn {
  justify-content: center;
  background-color: #eb7d4b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 30px;
  margin-bottom: 50px;
}

b {
  font-size: small;
}

/* service area */

.service-area {
  background-color: #17c2a4;
  padding-top: 50px;
  padding-bottom: 20px;
}

.service-header {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.service-header p {
  color: #fff;
  padding-top: 10px;
  margin-bottom: 30px;
}

.header-h3 {
  letter-spacing: 3px;
}

.service-col {
  color: #fff;
  margin-top: 40px;
}
.service-container {
  padding-bottom: 60px;
}

/* meet */

.meet-area {
  background-color: #e7f1f8;
  padding-top: 30px;
}

.meet-container {
  padding-bottom: 50px;
}

.meet-header {
  text-align: center;
}

.meet-h3 {
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.meet-col {
  padding-top: 30px;
}

.meet-link {
  text-align: center;
  text-decoration: none;
}

.meet-p {
  color: #3c4761;
}

.meet-link a {
  padding-right: 10px;
}

.meet-link a img {
  padding-bottom: 20px;
}
/* skills section start */

.skill-container {
  margin-top: 60px;
  padding-bottom: 50px;
}

.skill-h4 {
  letter-spacing: 3px;
  font-size: 150%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.skiil-img {
  text-align: center;
}
